

body{

  width: 50%;
  margin: 0 auto;


}

header{
  text-align: center;

}

header h1{
  font-size: 100px;
  color: rgb(58, 58, 84);
  font-weight: 200;
  
}

input{
  font-size: 20px;
  color: #2c2937;
  width: 100%;
  border: none;
  outline: none;
  border-bottom:1px solid #2c2937;
  padding: 5px;


  
}

.task{

  background-color: rgb(87, 84, 117);
  padding: 15px;
  margin: 5px;
  overflow-x: hidden;
  border-radius: 5px;
  cursor: pointer;


}
.task span{
  color: aliceblue;
}


.icon{
  float: right;
  margin-right: 20px;
  
}

article{
  display: grid;

}

.edit-todo {

  width: 85%;
  font-size: 16px;
  color: aliceblue;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
}

.button{

  margin: 0 10px;
  padding: 10px;
  font-size: 14px;
  color: rgb(16, 9, 25);
  background-color: aliceblue;
  border: none;
  cursor: pointer;
  width: 100px;
  margin-top: 10px;


}

.button.selected{
  color: antiquewhite;
  background-color: #2c2937;
  border-radius: 5px;

}

.button.clear{
  float: right;
  color: aliceblue;
  background-color: red;
  width: 170px;
   
}